{v 1}
{cols 20,10:r,12:r}
Nasi Goreng Spesial Telur Ceplok | 2 x 25.000 | 50.000
Es Teh Manis | 3 x 5.000 | 15.000
---
{cols 4,20,12:r}
2x | Ayam Bakar Madu Pedas Level Lima | 90.000
1x | Kerupuk | 2.000
{cut}
